@font-face {
    font-family:"roboto";src: url(/assets/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: "opensans";
    src: url(assets/Open_Sans\,Roboto/Roboto-Medium);
}
.card{
    height: 540px;
    width: 350px;
    background-color: #ffffff;
    margin-right: 50px;
    border-radius: 5px;
    padding-right: 10px;
}
.sort2{
    background-color: #e8c8fa;
    margin-top: 10px;
    margin-left: 20px;
    padding: 5px;
    border-radius: 3px;
    font-family: "roboto";
    font-weight: lighter;
    
} 

.sort1{
    display: flex;
    justify-content: flex-start;
       
}

img{
    height: 250px;
    height: 300px;
    margin-left: 15px;
}
.tittle{
    font-family:"roboto";
    font-size: 25px;
    margin-top: 25px;
    margin-left: 17px;
}

.ship{
    margin-left: 17px;
    margin-top: 20px;
    font-family: roboto;
    color: #868282;
}
.price{
    font-family: "opensans";
    font-size: 20px;
    font-weight: 700;
    margin-left: 20px;

}

.btn{
    margin-left: 17px;
    padding: 15px 40px 15px 40px;
    /* padding: 5px 50px 5px 50px; */
    border-radius: 5px;
    background-color: #efefef;
    color: #a2a0a0;
    font-family:"roboto";
    border: none;
}

.btn2{
    margin-left: 15px;
    padding: 15px 40px 15px 40px;
    border-radius: 5px;
    background-color: #b34bf8;
    color:white;
    font-family:"roboto";
    border: none;
}
.center{
    display: flex;
    justify-content:center;
    margin-top: 150px;
}
body{
    background: rgb(72,253,136);
    background: linear-gradient(90deg, rgba(72,253,136,1) 0%, rgba(76,233,226,1) 75%, rgba(238,24,24,1) 100%);  
}
